[type="file"] {
    overflow: hidden;
}

center {
    vertical-align: middle;
}

.form_upload {
    padding: 10px 0;
}

#img-preview-1 {
    display: none; 
    max-width: 100px;
    max-height: 100px;
}

#img-preview-2 {
    display: none; 
    max-width: 100px;
    max-height: 100px;
}

#img-preview-3 {
    display: none; 
    max-width: 100px;
    max-height: 100px;
}

#img-preview-1 img {
    width: 100%;
    height: auto;
    display: block;
}

#img-preview-2 img {
    width: 100%;
    height: auto;
    display: block;
}

#img-preview-3 img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    text-align : center;
    overflow: visible;
    display: inline-flex;
}

.image-preview, .form {
    display: inline-block;
    vertical-align: top;
}