center {
    vertical-align: middle;
}

button {
    margin: 10px;
}

.form_upload {
    padding: 10px 0;
}

#img-preview-1 {
    display: none;
    max-width: 100px;
    max-height: 100px;
}

#img-preview-2 {
    display: none;
    max-width: 100px;
    max-height: 100px;
}

#img-preview-3 {
    display: none;
    max-width: 100px;
    max-height: 100px;
}

#img-preview-1 img {
    width: 100%;
    height: auto;
    display: block;
}

#img-preview-2 img {
    width: 100%;
    height: auto;
    display: block;
}

#img-preview-3 img {
    width: 100%;
    height: auto;
    display: block;
}

.hide {
    display: none;
    visibility: hidden;
}

.wrapper {
    text-align: center;
    overflow: visible;
    display: block;
    align-items: center;
}

.uploaded-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview,
.form {
    display: inline-block;
    vertical-align: top;
}

.error {
    color: red;
}